@font-face {
    font-family: 'NextBro';
    src: local('NextBro'), url(../assets/Fonts/next_bro/NextBro.otf) format('opentype');
}

h1,
h2,
h4 {
    text-align: center;
    color: #fff;
}

.centrarJust {
    display: flex;
    justify-content: center;
}

a {
    color: #ffffff;
}

p {
    color: #ffffff;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 700px) {

    .tamanio{
        font-size: 1rem;
    }

    .imagen {
        margin-top: 1rem;
        min-width: 10rem;
        max-width: 15rem;
        max-height: 15rem;
        min-height: 10rem;
    }

    .tituloProyecto {
        font-size: 1rem;
    }

    .tituloPrincipal {
        display: flex;
        justify-content: flex-start;
        font-family: NextBro;
        font-size: 3rem;
        color: #ffffff;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .estiloBoton {
        background-color: transparent;
        color: #ffffff;
        border-color: #ffffff;
        border-radius: 2.5rem;
        padding: 0.1rem;
        margin-top: 1rem;
    }
    .margengrande {
        margin-top: 4rem;
        color: #ffffff;
    }
    
    .margenTopInicial {
        margin-top: 2rem;
    }
    
    .creacion {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        border-top: 1px solid white;
        margin-top: 10px;
    }
    
    .linkRepositorio {
        margin-bottom: 2.5rem;
    }
    
    .espacioCreacion {
        margin: 1.5rem;
    }

    .blando {
        margin-top: 5rem;
        color: #ffffff;
    }
    
    .bottom {
        margin-bottom: 5rem;
    }
    
    .paginacion {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .paginacion button {
        padding: 2.5px 5px;
        margin: 0 2.5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 700px) {

    .imagen {
        margin-left: 10rem;
        min-width: 25rem;
        max-width: 30rem;
        max-height: 30rem;
        transition: border-radius .275s cubic-bezier(.47, 0, .745, .715);
        transition-duration: 0.275s;
        transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        transition-delay: 0s;
        transition-property: border-radius;
    }

    .tituloProyecto {
        font-size: 3rem;
    }

    .tituloPrincipal {
        display: flex;
        justify-content: flex-start;
        font-family: NextBro;
        font-size: 10rem;
        color: #ffffff;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .separacion {
        margin-left: 20rem;
        border-left: 2px solid white;
        display: flex;
        align-self: center;
        justify-self: center;
    }
    .estiloBoton {
        background-color: transparent;
        color: #ffffff;
        border-color: #ffffff;
        border-radius: 5rem;
        padding: 0.5rem;
        margin-top: 2rem;
    }
    .margengrande {
        margin-top: 8rem;
        color: #ffffff;
    }
    
    .margenTopInicial {
        margin-top: 4rem;
    }
    
    .creacion {
        margin-left: 5rem;
        margin-right: 5rem;
        border-top: 2px solid white;
        margin-top: 20px;
    }

    .rowHome {
        display: flex;
    }

    .linkRepositorio {
        margin-bottom: 5rem;
    }
    
    .espacioCreacion {
        margin: 3rem;
    }

    .blando {
        margin-top: 10rem;
        color: #ffffff;
    }
    
    .bottom {
        margin-bottom: 10rem;
    }
    
    .paginacion {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .paginacion button {
        padding: 5px 10px;
        margin: 0 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}